doctype html
head
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/footer.css')
    link(rel='stylesheet' href='/stylesheets/extra.css')
    script(src='https://kit.fontawesome.com/a076d05399.js')

.grid(style="text-align: center; width: 800px;")
  br
  br
  i(style="font-size: 100px; color: #E8E8E8;").fas.fa-user-lock
  br
  br
  br
  br
  br
  br
.gallery
  img(src="images/users-1.svg" alt='Northern Lights' width='600' height='400')
  .desc(style='background-color:#D3D3D3; color:#383838; font-weight:bold;') Diogo Salsa
.gallery
  img(src="images/users-2.svg" width='600' height='400')
  .desc(style='background-color:#D3D3D3; color:#383838; font-weight:bold;') José Pires
.gallery
  img(src="images/users-3.svg" width='600' height='400')
  .desc(style='background-color:#D3D3D3; color:#383838; font-weight:bold;') Maria Albertino
.gallery
  img(src="images/users-4.svg" width='600' height='400')
  .desc(style='background-color:#D3D3D3; color:#383838; font-weight:bold;') Igor Almeida
.gallery
  img(src="images/users-5.svg" width='600' height='400')
  .desc(style='background-color:#D3D3D3; color:#383838; font-weight:bold;') Beatriz Santos
.gallery
  img(src="images/users-6.svg" width='600' height='400')
  .desc(style='background-color:#D3D3D3; color:#383838; font-weight:bold;') Paulo Andrade
.gallery
  img(src="images/users-7.svg" width='600' height='400')
  .desc(style='background-color:#D3D3D3; color:#383838; font-weight:bold;') Luís Alves
.gallery
  img(src="images/users-8.svg" width='600' height='400')
  .desc(style='background-color:#D3D3D3; color:#383838; font-weight:bold;') André Costa
.gallery
  img(src="images/users-9.svg" width='600' height='400')
  .desc(style='background-color:#D3D3D3; color:#383838; font-weight:bold;') Filipe Mendes
.gallery
  img(src="images/users-10.svg" width='600' height='400')
  .desc(style='background-color:#D3D3D3; color:#383838; font-weight:bold;') João Nestor
.gallery
  img(src="images/users-11.svg" width='600' height='400')
  .desc(style='background-color:#D3D3D3; color:#383838; font-weight:bold;') Sandro Cunha
.gallery
  img(src="images/users-12.svg" width='600' height='400')
  .desc(style='background-color:#D3D3D3; color:#383838; font-weight:bold;') Cátia Gomes
.gallery
  img(src="images/users-13.svg" width='600' height='400')
  .desc(style='background-color:#D3D3D3; color:#383838; font-weight:bold;') Dino Félix
.gallery
  img(src="images/users-14.svg" width='600' height='400')
  .desc(style='background-color:#D3D3D3; color:#383838; font-weight:bold;') Carla Guimarães
.gallery
  img(src="images/users-15.svg" width='600' height='400')
  .desc(style='background-color:#D3D3D3; color:#383838; font-weight:bold;') Miguel Nunes
.gallery
  img(src="images/users-16.svg" width='600' height='400')
  .desc(style='background-color:#D3D3D3; color:#383838; font-weight:bold;') Isabel Sá

.grid(style="text-align: center; display: flex;")
  form.form.login(action='logout' method='GET' style='font-size: 18px;')
    .form__field
    input(type='submit' value='Log Out' style='margin-top:350px; width: 120px; margin-left: 300px;')