doctype html
head
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/footer.css')
    script(src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous')

.grid(style="text-align: center")
  br
  br
  br
  br
  br
  br
  br
  h1(style="color:#E0E0E0; font-size: 35px; margin-right: 6px;") User
    form.form.login(action='logout' method='GET' style='font-size: 18px;')
        .form__field
        input(type='submit' value='Log Out')