doctype html
head
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/footer.css')
    script(src='https://kit.fontawesome.com/a076d05399.js')

.grid(style="text-align: center; width: 800px;")
  br
  br
  br
  br
  br
  br
  br
  i(style="font-size: 100px;").fas.fa-lock
  br
  br
  h1(style="color:#E0E0E0; font-size: 25px;") Application is asking for permissions
  h4 Authorizing will redirect to http://localhost:4004
    br
    br
    br
    .login
      input(style='width:80px; font-size:20px;' type='submit' value='yes' onclick="myFunction('yes')")
      | &nbsp; &nbsp;
      input(style='width:80px; font-size:20px;' type='submit' value='no' onclick="myFunction('no')")
    

  script.
    function myFunction(res) {
      if(res == 'yes') window.location.replace("http://localhost:4004");
      else window.location.replace("http://localhost:4000/login");
    }