extends layout

block content
  .w3-container.w3-teal 
      h1 Welcome...
  .w3-container
    h3 Your token ↴
    h9 #{token}
    
    br
    br
  footer.w3-container.w3-teal 
    p
      a(href="/" ) Logout
